.product-modal-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #D9D9D9;
}

.product-modal-clear-icon {
  position: absolute;
  top: 8px;
  right: 14px;
  color: #000;
  font-size: 44px;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.product-modal-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product-modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  outline: none;
  transition: border 0.15s ease-in-out;
  color: #44B26F;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.product-modal-textarea {
  width: 100%;
  margin-bottom: 14px;
  border: 1px solid #D9D9D9;
  outline: none;
  transition: border 0.15s ease-in-out;
  color: #44B26F;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.product-modal-input:focus {
  border: 1px solid #44B26F;
}

.product-modal-form {
  background-color: #D9D9D9;
}

.product-modal-cancel-button {
  background-color: #726969 !important;
}

.product-modal-submit-button {
  background-color: #44B26F !important;
}