.product-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 54px;
}

.product-card-wrapper {
  flex: 1 0 24rem;
  position: relative;
  max-width: 300px;
  max-height: 400px;
  background-color: #fff;
  transition: 0.2s;
}

.product-card-wrapper:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #3d3d3d;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.product-card-photo {
  max-width: 100%;
  margin-top: 34px;
}

.product-card-title {
  margin-top: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
  margin-top: 22px;
}

.product-card-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FC5B00;
}

.product-card-quantity {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.product-card-button-wrapper {
  margin-top: 34px;
}

.product-card-button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #05BC52;
  background-color: #fff;
}

.product-card-button-image {
  margin-right: 18px;
}